{% extends 'base.html' %}

{% block title %}Ingredients List{% endblock %}

{% block content %}

{% if object_list|length > 0 %}
<table class="table">
<thead>
    <tr>
    <th scope="col" class="text-center">Name</th>
    <th scope="col" class="text-center">Quantity</th>
    <th scope="col" class="text-center">Unit</th>
    <th scope="col" class="text-center">Unit Price</th>
    <th scope="col" class="text-center">Update</th>
    <th scope="col" class="text-center">Delete</th>
    </tr>
</thead>
<tbody>
{% for ingridient in object_list %}
<tr>
    <td class="text-center">{{ ingridient.name }}</td>
    <td class="text-center">{{ ingridient.quantity }}</td>
    <td class="text-center">{{ ingridient.unit }}</td>
    <td class="text-center">{{ ingridient.unit_price }}</td>
    <td class="text-center"><a href="{% url 'restaurant:ingridient-update' ingridient.id %}" class="btn btn-primary">Update</a></td>
    <td class="text-center"><a href="{% url 'restaurant:ingridient-delete' ingridient.id %}" class="btn btn-danger">Delete</a></td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}

<br /><br />

{% if is_paginated %}
  <nav aria-label="Page navigation conatiner"></nav>
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link mx-3">&laquo; PREV </a></li>
    {% endif %}
    {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link mx-3"> NEXT &raquo;</a></li>

    {% endif %}
  </ul>
  </nav>
</div>
{% endif %}

<br /><br />
<form action="{% url 'restaurant:ingridient-list' %}" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-2"></div>


        <div class="col-md-8 shadow">
            <br /><br />
            <center><h3>Add Ingridient</h3></center>
            <br /><br />
        <div class="row mb-3">
            <div class="col-md-2"></div>
    
            <div class="col-md-2" align="right"><label class="form-label">Name:</label></div>
            <div class="col-md-6">{{ form.name }}</div>
    
            <div class="col-md-2"></div>
        </div>
    
        <div class="row mb-3">
            <div class="col-md-2"></div>
    
            <div class="col-md-2" align="right"><label class="form-label">Quantity:</label></div>
            <div class="col-md-6">{{ form.quantity }}</div>
    
            <div class="col-md-2"></div>
        </div>
    
        <div class="row mb-3">
            <div class="col-md-2"></div>
    
            <div class="col-md-2" align="right"><label class="form-label">Unit:</label></div>
            <div class="col-md-6">{{ form.unit }}</div>
    
            <div class="col-md-2"></div>
        </div>
    
        <div class="row mb-3">
            <div class="col-md-2"></div>
    
            <div class="col-md-2" align="right"><label class="form-label">Unit Price:</label></div>
            <div class="col-md-6">{{ form.unit_price }}</div>
    
            <div class="col-md-2"></div>
        </div>
    
        <div class="row mb-3">
            <div class="col-md-2"></div>
    
            <div class="col-md-2" align="right"></div>
            <div class="col-md-6"><center><input type="submit" class="btn btn-primary" value="Create Ingridient" /></center></div>
    
            <div class="col-md-2"></div>
        </div>


        <div class="col-md-2"></div>
        </div>

    </div>
    
</form>
<br /><br /><br /><br />

{% endblock %}