{% extends 'base.html' %}

{% block title %}Recipe Requirement List{% endblock %}

{% block content %}

<center><h3>{{ object.title }}</h3></center>

{% if recipe_requirements|length > 0 %}
<table class="table">
<thead>
    <tr>
    <th scope="col" class="col-md-3 text-center">Ingredient</th>
    <th scope="col" class="col-md-3 text-center">Quantity</th>
    <th scope="col" class="col-md-3 text-center">Quantity in the store</th>
    <th scope="col" class="col-md-3 text-center">Price per unit</th>
    </tr>
</thead>
<tbody>
    {% for recipe in recipe_requirements %}
<tr>
    {% if recipe.quantity <= recipe.ingridient.quantity %}
    <td class="text-center">{{ recipe.name }}</td>
    <td class="text-center">{{ recipe.quantity }}</td>
    <td class="text-center">{{ recipe.ingridient.quantity }}</td>
    <td class="text-center">{{ recipe.ingridient.unit_price }}</td>
    {% else %}
    <td class="bg-danger text-center">{{ recipe.name }}</td>
    <td class="bg-danger text-center">{{ recipe.quantity }}</td>
    <td class="bg-danger text-center">{{ recipe.ingridient.quantity }}</td>
    <td class="bg-danger text-center">{{ recipe.ingridient.unit_price }}</td>
    {% endif %}
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}

<br /><br />

<table class="table">
    <thead>
        <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for recipe in recipe_requirements %}
        <tr>
            <td class="col-md-6"><div align="right">{{ recipe.ingridient.name }}:</div></td>
            <td><div align="left">{{ recipe.quantity }} {{ recipe.ingridient.unit }}</div></td>
        </tr>
        {% endfor %}
        
    </tbody>
</table>

<br /><br />

<form action="{% url 'restaurant:menu-item-detail' object.id %}" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-2"></div>


        <div class="col-md-8 shadow">
            <br /><br />
            <center><h3>Add Recipe Requirement</h3></center>
            <br /><br />

            <div class="row mb-3">
                <div class="col-md-2"></div>
        
                <div class="col-md-2" align="right"><label class="form-label">Menu Item:</label></div>
                <div class="col-md-6">{{ form.menu_item }}</div>
        
                <div class="col-md-2"></div>
            </div>

        <div class="row mb-3">
            <div class="col-md-2"></div>
    
            <div class="col-md-2" align="right"><label class="form-label">Ingredient:</label></div>
            <div class="col-md-6">{{ form.ingridient }}</div>
    
            <div class="col-md-2"></div>
        </div>

        <div class="row mb-3">
            <div class="col-md-2"></div>
    
            <div class="col-md-2" align="right"><label class="form-label">Quantity:</label></div>
            <div class="col-md-6">{{ form.quantity }}</div>
    
            <div class="col-md-2"></div>
        </div>
    
        <div class="row mb-3">
            <div class="col-md-2"></div>
    
            <div class="col-md-2" align="right"></div>
            <div class="col-md-6"><center><input type="submit" class="btn btn-primary" value="Create Recipe Requirement" /></center></div>
    
            <div class="col-md-2"></div>
        </div>


        <div class="col-md-2"></div>
        </div>

    </div>
    
</form>

<br /><br />

{{ object.title|json_script:"title" }}


<script>
    var title = JSON.parse(document.getElementById('title').textContent);
    console.log(title)
    var obj = document.getElementById("id_menu_item");
    for(i=0; i<obj.options.length; i++){
        if(obj.options[i].textContent == title){
            obj.selectedIndex = i;
        }
    }
</script>

{% endblock %}
