{% extends 'base.html' %}

{% block title %}Menu Items List{% endblock %}

{% block content %}

{% if object_list|length > 0 %}
<table class="table">
<thead>
    <tr>
    <th scope="col" class="col-md-4 text-center">Title</th>
    <th scope="col" class="col-md-4 text-center">Price</th>
    <th scope="col" class="col-md-4 text-center"></th>
    </tr>
</thead>
<tbody>
{% for menu_item in object_list %}
<tr>
    <td class="text-center"><a href="{% url 'restaurant:menu-item-detail' menu_item.id %}">{{ menu_item.title }}</a></td>
    <td class="text-center">{{ menu_item.price }}</td>
    {% if menu_item.is_buy %}
    <td class="text-center"><a href="{% url 'restaurant:menu-item-buy' menu_item.id %}" class="btn btn-success">Buy</a></td>
    {% else %}
    <td class="text-center">Not enough ingridients</td>
    {% endif %}
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}

<br /><br />

{% if is_paginated %}
  <nav aria-label="Page navigation conatiner"></nav>
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link mx-3">&laquo; PREV </a></li>
    {% endif %}
    {{ page_obj.number }} of 
    {{ page_obj.paginator.num_pages }}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link mx-3"> NEXT &raquo;</a></li>

    {% endif %}
  </ul>
  </nav>
</div>
{% endif %}

<br /><br />
<form action="{% url 'restaurant:menu-item-list' %}" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-2"></div>


        <div class="col-md-8 shadow">
            <br /><br />
            <center><h3>Add Menu Item</h3></center>
            <br /><br />
        <div class="row mb-3">
            <div class="col-md-2"></div>
    
            <div class="col-md-2" align="right"><label class="form-label">Title:</label></div>
            <div class="col-md-6">{{ form.title }}</div>
    
            <div class="col-md-2"></div>
        </div>
    
        <div class="row mb-3">
            <div class="col-md-2"></div>
    
            <div class="col-md-2" align="right"><label class="form-label">Price:</label></div>
            <div class="col-md-6">{{ form.price }}</div>
    
            <div class="col-md-2"></div>
        </div>
    
        <div class="row mb-3">
            <div class="col-md-2"></div>
    
            <div class="col-md-2" align="right"></div>
            <div class="col-md-6"><center><input type="submit" class="btn btn-primary" value="Create Menu Item" /></center></div>
    
            <div class="col-md-2"></div>
        </div>


        <div class="col-md-2"></div>
        </div>

    </div>
    
</form>
<br /><br /><br /><br />

{% endblock %}
