{% extends 'base.html' %}

{% block title %}Ingridients List{% endblock %}

{% block content %}

{% if object_list|length > 0 %}
<table class="table">
<thead>
    <tr>
    <th scope="col">Title</th>
    <th scope="col">Price</th>
    <th scope="col">Date</th>
    </tr>
</thead>
<tbody>
{% for purchase in object_list %}
<tr>
    <td>{{ purchase.menu_item }}</td>
    <td>{{ purchase.menu_item.price }}</td>
    <td>{{ purchase.timestamp }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}

<br /><br />

{% if is_paginated %}
  <nav aria-label="Page navigation conatiner"></nav>
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
    {% endif %}
    {{ page_obj.number }} of 
    {{ page_obj.paginator.num_pages }}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

    {% endif %}
  </ul>
  </nav>
</div>
{% endif %}

{% endblock %}