{% extends 'base.html' %}

{% block title %}Recipe Requirement List{% endblock %}

{% block content %}

<table class="table">
<thead>
    <tr>
    <th scope="col">Menu Item</th>
    <th scope="col">Ingridient</th>
    <th scope="col">Quantity</th>
    </tr>
</thead>
<tbody>
{% for recipe_requirement in object_list %}
<tr>
    <td>{{ recipe_requirement.menu_item }}</td>
    <td>{{ recipe_requirement.ingridient }}</td>
    <td>{{ recipe_requirement.quantity }}</td>
</tr>
{% endfor %}
</tbody>
</table>

<br /><br />

{% if is_paginated %}
  <nav aria-label="Page navigation conatiner"></nav>
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
    {% endif %}
    {{ page_obj.number }} of 
    {{ page_obj.paginator.num_pages }}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

    {% endif %}
  </ul>
  </nav>
</div>
{% endif %}

<br /><br />
<form action="{% url 'restaurant:recipe-requirement-list' %}" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-2"></div>


        <div class="col-md-8 shadow">
            <br /><br />
            <center><h3>Add Recipe Requirement</h3></center>
            <br /><br />

            <div class="row mb-3">
                <div class="col-md-2"></div>
        
                <div class="col-md-2" align="right"><label class="form-label">Menu Item:</label></div>
                <div class="col-md-6">{{ form.menu_item }}</div>
        
                <div class="col-md-2"></div>
            </div>

        <div class="row mb-3">
            <div class="col-md-2"></div>
    
            <div class="col-md-2" align="right"><label class="form-label">Ingridient:</label></div>
            <div class="col-md-6">{{ form.ingridient }}</div>
    
            <div class="col-md-2"></div>
        </div>

        <div class="row mb-3">
            <div class="col-md-2"></div>
    
            <div class="col-md-2" align="right"><label class="form-label">Quantity:</label></div>
            <div class="col-md-6">{{ form.quantity }}</div>
    
            <div class="col-md-2"></div>
        </div>
    
        <div class="row mb-3">
            <div class="col-md-2"></div>
    
            <div class="col-md-2" align="right"></div>
            <div class="col-md-6"><center><input type="submit" class="btn btn-primary" value="Create Recipe Requirement" /></center></div>
    
            <div class="col-md-2"></div>
        </div>


        <div class="col-md-2"></div>
        </div>

    </div>
    
</form>
<br /><br /><br /><br />

{% endblock %}
