{% extends 'base.html' %}

{% block title %}Add Recipe Requirement{% endblock %}

{% block content %}

<style>
    .errorlist {
        color: #dc3545;
    }
</style>

{% if errors %}
    {{ errors }}
{% endif %}

<br /><br />
<form action="{% url 'restaurant:recipe-requirement-list' %}" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-2"></div>


        <div class="col-md-8 shadow">
            <br /><br />
            <center><h3>Add Recipe Requirement</h3></center>
            <br /><br />

            <div class="row mb-3">
                <div class="col-md-2"></div>
        
                <div class="col-md-2" align="right"><label class="form-label">Menu Item:</label></div>
                <div class="col-md-6">{{ form.menu_item }}</div>
        
                <div class="col-md-2"></div>
            </div>

        <div class="row mb-3">
            <div class="col-md-2"></div>
    
            <div class="col-md-2" align="right"><label class="form-label">Ingredient:</label></div>
            <div class="col-md-6">{{ form.ingridient }}</div>
    
            <div class="col-md-2"></div>
        </div>

        <div class="row mb-3">
            <div class="col-md-2"></div>
    
            <div class="col-md-2" align="right"><label class="form-label">Quantity:</label></div>
            <div class="col-md-6">{{ form.quantity }}</div>
    
            <div class="col-md-2"></div>
        </div>
    
        <div class="row mb-3">
            <div class="col-md-2"></div>
    
            <div class="col-md-2" align="right"></div>
            <div class="col-md-6"><center><input type="submit" class="btn btn-primary" value="Create Recipe Requirement" /></center></div>
    
            <div class="col-md-2"></div>
        </div>


        <div class="col-md-2"></div>
        </div>

    </div>
    
</form>
<br /><br /><br /><br />

{% endblock %}
