{% extends 'base.html' %}

{% block title %}
    Sign-Up
{% endblock %}

{% block content %}

<style>
    .errorlist {
        color: #dc3545;
    }
</style>

{% if errors %}
    {{ errors }}
{% endif %}

<form action="{% url 'accounts:register' %}" method="POST">

    {% csrf_token %}


    <div class="row">
        <div class="col-md-2"></div>


        <div class="col-md-8 shadow">
            <br /><br />
            <center><h3>Register</h3></center>
            <br /><br />

            <div class="row mb-3">
                <div class="col-md-2"></div>
        
                <div class="col-md-2" align="right"><label class="form-label">Username:</label></div>
                <div class="col-md-6">{{ form.username }}</div>
        
                <div class="col-md-2"></div>
            </div>

        <div class="row mb-3">
            <div class="col-md-2"></div>
    
            <div class="col-md-2" align="right"><label class="form-label">Email:</label></div>
            <div class="col-md-6">{{ form.email }}</div>
    
            <div class="col-md-2"></div>
        </div>

        <div class="row mb-3">
            <div class="col-md-2"></div>
    
            <div class="col-md-2" align="right"><label class="form-label">Password:</label></div>
            <div class="col-md-6">{{ form.password1 }}</div>
    
            <div class="col-md-2"></div>
        </div>

        <div class="row mb-3">
            <div class="col-md-2"></div>
    
            <div class="col-md-2" align="right"><label class="form-label">Confirm Password:</label></div>
            <div class="col-md-6">{{ form.password2 }}</div>
    
            <div class="col-md-2"></div>
        </div>
    
        <div class="row mb-3">
            <div class="col-md-2"></div>
    
            <div class="col-md-2" align="right"></div>
            <div class="col-md-6"><center><input type="submit" class="btn btn-primary" value="Register" /></center></div>
    
            <div class="col-md-2"></div>
        </div>


        <div class="col-md-2"></div>
        </div>

    </div>
</form>
{% endblock %}
